<app-navbar></app-navbar>
<table>
    <tr>
		<th>
			<div id = "back" class="container">
				<h1 class="display-4">Ready for<br>Exciting engagement?</h1>
				<p class="lead">Find and Create exciting Quizzzzes.</p>
				<a class="btn btn-lg" [routerLink] = "['/getstart']" role="button">Lets go!!! <i class="bi bi-arrow-right-short"></i></a>
			</div>
		</th>

		<th>
			<img src="../../assets/images/kisspng-teamwork-icon-teamwork-5a6bd244044e95.8281203615170156200177.jpg" width="600" height="450">
		</th>
    </tr>     
</table>       
<app-footer></app-footer>
